{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ post.title }}{% endblock %}

{% block main_page_title %}{{ post.title }}{% endblock %}

{% block body %}

    <!-- Inclusion du template de la modal de confirmation d'ajout de commentaire -->
    {% include 'modals/_success.html.twig' with {'message':'Commentaire envoyé avec succès', 'id':'add-comment-success-modal'} %}

    <!-- Category -->
    <span class="badge badge-secondary">{{ post.category.name }}</span>

    <!-- Author and date -->
    <p class="lead">Créé par {{ post.user.fullname }} le {{ post.createdAt|date('d/m/Y') }}</p>

    <!-- Preview Image -->
    <img class="img-fluid rounded" src="{{ post.image }}" alt="">

    <!-- Post Content -->
    <p class="lead">{{ post.content }}</p>

    <h4>Commentaires</h4>

    <!-- Formulaire d'ajout de commentaire -->

    {% if is_granted('ROLE_USER') %}
        <div class="card my-4">
            <h5 class="card-header">Laissez un commentaire:</h5>
            <div class="card-body">
                {{ form_start(form, {'attr':{'id':'comment-form'}}) }}
                {{ form_widget(form) }}
                <input type="submit" value="Envoyer mon commentaire">
                {{ form_end(form) }}
            </div>
        </div>
    {% else %}
        <p><a href="{{ path('security.login') }}">Connectez-vous</a> pour ajouter un commentaire.</p>
    {% endif %}

    <!-- List of comments -->
    <ul class="comments-list">
        {% if post.comments|length == 0 %}
            <li>Soyez le premier à commenter cet article !</li>
        {% else %}
            {% for comment in post.comments %}
                {% include 'post/_comment.html.twig' %}
            {% endfor %}
        {% endif %}
    </ul>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <!-- Script personnel pour la parge Article -->
    <script src="{{ asset('js/post.js') }}"></script>

{% endblock %}
